/*navbar*/
nav {
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

#logo {
    height: 60px;
    width: 120px;
}

/*page1*/
.page1 {
    background-image: url(../images/back1.png);
    background-size: cover;
}

h4 {
    font-family: algerian;
    font-weight: bold;
    font-size: larger;
    color: crimson;
}

.par1 {
    font-family: verdana;
    color: rgb(237, 5, 206);
}

/*page1 cards*/
.card-container {
    perspective: 1000px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
}

.card {
    width: 600px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: aquamarine;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-back {
    transform: rotateY(180deg);
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/
.footer {
    text-align: center;
    letter-spacing: 3px;
    font-family: puvi;
    font-weight: bold;
    text-transform: uppercase;
    background: #77A1D3;
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
}

.footer a {
    text-transform: lowercase;
    text-decoration: none;
    color: red;
    letter-spacing: normal;
}

/*sweetalert*/
.swal2-popup {
    background-image: url(../images/formback.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.swal2-title {
    color: #FFFFFF !important;
}

.swal2-input {
    border: 3px solid #fff !important;
    color: #FFFFFF !important;
}

.swal2-input::placeholder {
    color: #ffff !important;
}

.swal2-html-container {
    color: #ffff !important;
}

.swal2-validation-message {
    color: #ff0000 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.fa-eye:before,
.fa-eye-slash:before {
    margin-left: -120px;
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-left,
.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right,
.swal2-icon.swal2-success.swal2-icon-show .swal2-success-fix {
    background: none !important;
}

label {
    margin-right: 125px;
    margin-top: 5px;
}

/*medaiquery*/
@media (max-width:769px) {
    .card-container {
        display: none;
    }
}

@media(max-width:376px) {
    .swal2-html-container .swal2-input {
        margin-left: 10px;
    }

    #swal2-title {
        margin-left: -10px;
    }

    .swal2-styled.swal2-confirm {
        margin-left: -15px;
    }
}

@media(max-width: 321px) {
    .swal2-html-container .swal2-input {
        margin-left: -20px;
    }

    #swal2-title {
        margin-left: -25px;
    }

    .swal2-styled.swal2-confirm {
        margin-left: -45px;
    }
}