/*new font*/
@font-face {
    font-family: puvi;
    src: url(/assets/fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf);
}

/*navigation bar*/
#navbarNav {
    justify-content: center;
    padding: 10px;
    background-color: antiquewhite;
}

#navbarNav a {
    font-family: puvi;
    font-size: larger;
    font-weight: bold;
    color: rgb(243, 10, 111);
    letter-spacing: 2px;
}

#navbarNav li:not(:last-child) {
    margin-right: 30px;
}

#one {
    width: 100px;
}

/*layer 1*/
#two {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.page2 {
    display: flex;
    background: #007991;
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    background: linear-gradient(to right, #78ffd6, #007991);
}

.page2 img {
    width: 50%;
    height: 500px;
}

.page2 .part2 {
    width: 50%;
    padding: 30px;
    font-family: puvi;
    font-size: large;
    font-weight: 400;
}

.part2 h1 {
    font-family: Algerian;
    color: cornsilk;
}

/*layer 2*/
.page3 h1 {
    font-family: Algerian;
    text-align: center;
    color: darkslategrey;
    font-weight: bolder;
    letter-spacing: 3px;
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    background: linear-gradient(to right, #ACB6E5, #74ebd5);

}

.page3 {
    text-align: center;
    font-family: puvi;
    font-weight: bolder;
}

.page3 img {
    width: 70%;
    height: 600px;
}

/*layer 3*/
.page4 h1 {
    font-family: Algerian;
    text-align: center;
    color: darkorchid;
    font-weight: bolder;
    letter-spacing: 3px;
    background: #e1eec3;
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
    background: linear-gradient(to right, #f05053, #e1eec3);

}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

/*layer 4*/
.page5 img {
    height: 700px;
    width: 80%;
}

.carousel-caption h1 {
    font-family: algerian;
    color: aliceblue;
    font-weight: bolder;
}

.carousel-caption p {
    font-family: puvi;
    color: #ffff;
    font-weight: 600;
}

/*layer 5*/
.page6 h1 {
    font-family: Algerian;
    text-align: center;
    color: darkmagenta;
    font-weight: bolder;
    letter-spacing: 3px;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

.page6 h4 {
    font-family: puvi;
    font-size: x-large;
    font-weight: 600;
    font-style: oblique;
    text-transform: uppercase;
    color: navy;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}

.page6 table {
    border-collapse: collapse;
    border-radius: 10px;
}

.page6 table th,
.page6 table td {
    padding: 10px;
}

/*layer 5 table 1*/
.page6 .table1 {
    text-align: center;
    font-family: puvi;
    font-size: medium;
    font-weight: 600;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}

/*layer 5 table 2*/
.page6 .table2 {
    text-align: center;
    font-family: puvi;
    font-size: medium;
    font-weight: 600;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

/*layer 5 table 3*/
.page6 .table3 {
    text-align: center;
    font-family: puvi;
    font-size: medium;
    font-weight: 600;
    background: #EF3B36;
    background: -webkit-linear-gradient(to right, #fe5b5b, #EF3B36);
    background: linear-gradient(to right, #fe5b5b, #EF3B36);
}

/*layer 5 table 4*/
.page6 .table4 {
    text-align: center;
    font-family: puvi;
    font-size: medium;
    font-weight: 600;
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
}

/*layer 5 table 5*/
.page6 .table5 {
    text-align: center;
    font-family: puvi;
    font-size: medium;
    font-weight: 600;
    background: #20002c;
    background: -webkit-linear-gradient(to right, #cbb4d4, #b408f3);
    background: linear-gradient(to right, #cbb4d4, #b408f3);
}

/*layer 6*/
.page7 h1 {
    font-family: Algerian;
    text-align: center;
    color: rgb(250, 87, 5);
    font-weight: bolder;
    letter-spacing: 3px;
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);
}

.p1 {
    display: flex;
    background: #007991;
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    background: linear-gradient(to right, #78ffd6, #007991);
}

.page7 img {
    width: 50%;
    height: 450px;
}

.p1 form {
    width: 40%;
    padding: 30px;
    font-family: puvi;
    font-size: large;
    font-weight: 400;
}

form .error {
    color: red;
}

/*layer 7*/
.page8 {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);

}

.page8 img {
    width: 300px;
    height: 400px;
}

.page8 h1 {
    font-family: Algerian;
    color: rgb(4, 1, 0);
    font-weight: bolder;
    letter-spacing: 3px;
}

.page8 .contact {
    font-family: puvi;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ee0c0f;
}

.teams li {
    list-style-type: none;
}

.teams a {
    text-decoration: none;
    font-family: puvi;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

/*footer*/
.footer {
    text-align: center;
    letter-spacing: 3px;
    font-family: puvi;
    font-weight: bold;
    text-transform: uppercase;
    background: #77A1D3;
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
}

.footer a {
    text-transform: lowercase;
    text-decoration: none;
    color: red;
    letter-spacing: normal;
}

@media (max-width:426px) {
    .page2 img {
        display: none;
    }

    .page7 img {
        display: none;
    }

    .page7 form {
        width: 100%;
    }
}
